.btn-slide, .btn-slide:hover{
    background-color: #ffc107 !important;
    border: 1px solid #ffc107 !important;
    color: #000000 !important;
}

.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 70vh;
}

